*          {margin: 0; padding: 0;}
BODY, HTML {height: 100%; width: 100%;}
BODY       {background: #eee; font: 30px Geneva, Verdana, Sans-Serif; color: #888;}

.desk__container        {padding-top: 50px;}
.desk                   {margin: 0 auto; text-align: center; font-size: 40px;}
.desk td                {width: 64px; height: 64px; border: none;}
.desk td span           {cursor: pointer;}

.desk .coord-char       {font-size: 25px;}
.desk .coord-num        {font-size: 25px;}
.desk .cell-white       {background: #FFCE9E;}
.desk .cell-black       {background: #D18B47;}
.desk .piece-white      {color: white;}
.desk .piece-black      {color: black;}

.desk .cell-white:hover {}
.desk .cell-black:hover {}

.desk .available-cell   {background: red !important;}
.ui-draggable-disabled  {opacity: .5; filter: Alpha(Opacity=50); cursor: default !important;}

/*#F0D9B5 #B58863*/